.bar-graph {
    @apply flex flex-col bg-white rounded-xl p-4 shadow-sm h-full;

    &__title {
        @apply text-lg font-semibold mb-3 text-gray-800;
    }

    &__container {
        @apply w-full;
        position: relative;
    }
}
