$sidebar-main-width: 6rem;
$sidebar-sub-width: 12rem;
$header-height: 6vh;

.layout {
    display: flex;
    width: 100vw;
    height: 100vh;
    overflow: hidden;

    &__main {
        display: flex;
        flex: 1;
        flex-direction: column;
        height: 100%;
    }

    &__body {
        display: flex;
        height: calc(100% - #{$header-height});
        overflow: hidden;
    }

    &__content {
        position: relative;
        flex: 1;
        overflow-y: auto;
        overflow-x: hidden;
        color: var(--color-primary);
        background: var(--color-secondary-dark);
    }
}
