.dashboard {
    @apply p-6;

    &__row {
        @apply grid grid-cols-3  gap-6 mb-6;

        &:last-child {
            @apply mb-0;
        }
    }

    &__card {
        @apply rounded-xl overflow-hidden shadow-sm;
        height: 300px;
    }
}
