@use "login";
@use "userspage";
@use "homepage";
@use "notificationspage";
@use "dashboard";
@use "reportspage";
@use "assetspage";
@use "vulnerabilitiespage";
@use "threatspage";
@use "policiespage";
@use "compliancepage";
@use "tenantspage";