.vulnerabilities__main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 5px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);

}

.vulnerabilities__container-exportbtn {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    padding: 0 0.5rem;
    width: 100%;
    box-sizing: border-box;
}
